$blue: #a3d5d3;

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400|Work+Sans:400|Lora:300');

body {
  background-color: #fdfdfd;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 15;
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 15;
}

h1 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 20;
  line-height: 90%;
}

#root {
  background-color: #fdfdfd;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 15;
  position: fixed;
  width: 100%;
  height: 100%;
}

#switchform {
  background-color: #adffff;
  position: fixed;
  top: 10%;
  left: 0;
  width: 100%;
  height: 90%;
}

#alert-pusher{
  background-color: #adadad;
  position: fixed;
  top: 10%;
  left: 0;
  width: 30%;
  height: 90%;
}

#transcript-detail {
  background-color: #adffff;
  position: fixed;
  top: 10%;
  right: 0;
  width: 70%;
  height: 80%;
}

#alert-editor {
  background-color: #cdcdcd;
  position: fixed;
  left: 30%;
  bottom: 0;
  height: 10%;
  width: 70%;
}

#map-pane {
  background-color: #adffff;
  position: fixed;
  top: 10%;
  left: 0;
  width: 70%;
  height: 70%;
}

#alert-stack{
  background-color: #adadad;
  position: fixed;
  top: 10%;
  right: 0;
  width: 30%;
  height: 70%;
}

#transcript-box{
  background-color: #cdcdcd;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 20%;
  width: 100%;
}

#header {
  background-color: #ffadad;
  position: fixed;
  top: 0;
  left: 0;
  height: 10%;
  width: 100%;
}

#navbar {

}
