$blue: #a3d5d3;

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400|Work+Sans:400|Lora:300');

body {
  background-color: #fdfdfd;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 15;
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 15;
}

h1 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 22;
  line-height: 90%;
}

h2 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 20;
  line-height: 90%;
}

div {
  padding-left: 1%;
  padding-top: 2%;
}

button {

}

ul {
  list-style-type: none;
}

li {
  margin: 0 0 5px 0;
}

img {
  position: absolute;
  height: 10px;
  width: 10px;
  z-index: 99;
}

#fu1 {}
#fu2 {}
#fu3 {}
#fu4 {}
#fu5 {}
#pu1 {}
#pu2 {}
#pu3 {}
#pu4 {}
#pu5 {}
#gu1 {}
#gu2 {}
#gu3 {}
#gu4 {}
#gu5 {}
#d1 {}
#d2 {}
#d3 {}
#d4 {}
#d5 {}

#root {
  background-color: #fdfdfd;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 15;
  position: fixed;
  width: 100%;
  height: 100%;
}

#alert {
  width:100%;
  border: 1px solid red;
  border-radius: 4px;
  left: 0;
}

#switchform {
  background-color: #fdfdfd;
  position: fixed;
  top: 10%;
  left: 0;
  width: 100%;
  height: 90%;
}

#alert-pusher{
  background-color: #f0f0f0;
  position: fixed;
  top: 10%;
  left: 0;
  width: 30%;
  height: 90%;
}

#transcript-detail {
  background-color: #adffff;
  position: fixed;
  top: 10%;
  right: 0;
  width: 70%;
  height: 80%;
}

#alert-editor {
  background-color: #cdcdcd;
  position: fixed;
  right: 0;
  bottom: 0;
  height: 10%;
  width: 70%;
}

#map-pane {
  background-color: #fafafa;
  background-image: url('http://www.sclance.com/pngs/png-grid/png_grid_1062657.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: fixed;
  top: 10%;
  left: 0;
  width: 70%;
  height: 70%;
}

#alert-stack{
  background-color: #fafafa;
  position: fixed;
  top: 10%;
  right: 0;
  width: 30%;
  height: 70%;
  padding-left: 2%;
  padding-right: 5%;
  margin-bottom: 5%;
  overflow-y: scroll;
}

#transcript-box{
  background-color: #cdcdcd;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 20%;
  width: 100%;
}

#header {
  background-color: #ffadad;
  position: fixed;
  top: 0;
  left: 0;
  height: 10%;
  width: 100%;
  margin: 0;
  padding-top: 0;
}

#navbar {

}
